h1{
    color: blue;
}

li{
    color: rgb
}
.firstDiv{
    background: rgb(238, 238, 244);
    border: orange;
    border-width: thick;
    border-style: dotted;
}
.secondDiv{
    background-color: rgb(255, 47, 213);
}
#singledout{
    color:blueviolet;
    text-decoration: underline;
}
body{
    background:
url(https://wallpapers.com/images/hd/spider-man-vector-art-4k-7gw8j1lhg6kng2n3.jpg);
    background-repeat : no-repeat;
}

p{
    color: yellow;
}

span{
    background: red;
    color: rgb(254, 251, 251);
}